<!DOCTYPE html>
<html>
<head>
	<title>List | OnlineJudge</title>
	<link rel="stylesheet" type="text/css" href="/home/vamsi/OnlineJudge/src/OnlineJudge/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/home/vamsi/OnlineJudge/src/OnlineJudge/static/css/960.css">
	<link rel="stylesheet" type="text/css" href="/home/vamsi/OnlineJudge/src/OnlineJudge/static/css/styles.css">
</head>

<body>
	<div class="container_24">
		<div id="header">
			<div class="grid_5" style="background-color:#eee;">
				<h1 class="center">OnlineJudge</h1>
			</div>
			<div class="grid_5 prefix_14">
				<p style="background-color:#eef;">Login Button</p>
			</div>
		</div>

		<div class="clear"></div>

		<div id="content">
			<div class="grid_18" style="background-color:#fee;">
				<div class="problems-list">
					<div class="problem" style="background-color:#eee;">
						<h5><a href="#">Problem Title</a></h5>
						<p>Problem Description</p>
						<p><span>Type: Dynamic Programming</span><span>Difficulty: Beginner</span><span>Solved by: 23 others</span></p>
					</div>
					<div class="problem" style="background-color:#eee;">
						<h5><a href="#">Problem Title</a></h5>
						<p>Problem Description</p>
						<p><span>Type: Dynamic Programming</span><span>Difficulty: Beginner</span><span>Solved by: 23 others</span></p>
					</div>
					<div class="problem" style="background-color:#eee;">
						<h5><a href="#">Problem Title</a></h5>
						<p>Problem Description</p>
						<p><span>Type: Dynamic Programming</span><span>Difficulty: Beginner</span><span>Solved by: 23 others</span></p>
					</div>
					<div class="problem" style="background-color:#eee;">
						<h5><a href="#">Problem Title</a></h5>
						<p>Problem Description</p>
						<p><span>Type: Dynamic Programming</span><span>Difficulty: Beginner</span><span>Solved by: 23 others</span></p>
					</div>
				</div>
			</div>
		</div>
		<div id="sidebar">
			<div class="grid_6" style="background-color:#efe;">
				<h4>Categories</h4>
			</div>
		</div>
	</div>
</body>
</html>