<!DOCTYPE html>
<html>
<head>
	<title>Yo</title>
</head>
<body>
<form  method="POST" >
<textarea name="code" rows="17" cols="60">//CODE HERE
//Java main function should be in class Main</textarea>
<br>
<textarea name="stdin" rows="17" cols="60"></textarea>
<br>
<select name="language" >
	<option name="C">C</option>
	<option name="C++">C++</option>
	<option name="Python3">Python3</option>
	<option name="Python2">Python2</option>>
	<option name="Java">Java</option>
	<option name="Go">Go</option>
</select>
<br>
<input type="submit" name="submit">	
</form>
</body>
</html>