<!DOCTYPE html>
<html>
<head>
	<title>Problem | OnlineJudge</title>
	<link rel="stylesheet" type="text/css" href="/home/vamsi/OnlineJudge/src/OnlineJudge/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/home/vamsi/OnlineJudge/src/OnlineJudge/static/css/960.css">
	<link rel="stylesheet" type="text/css" href="/home/vamsi/OnlineJudge/src/OnlineJudge/static/css/styles.css">
</head>

<body>
	<div class="container_24">
		<div id="header">
			<div class="grid_5" style="background-color:#eee;">
				<h1 class="center">OnlineJudge</h1>
			</div>
			<div class="grid_5 prefix_14">
				<p style="background-color:#eef;">Login Button</p>
			</div>
		</div>

		<div class="clear"></div>

		<div id="content">
			<div class="grid_18" style="background-color:#fee;">
				<div class="problem-details">
					<h4>Problem Title</h4>
					<p>Problem Description<br/>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p><b>Sample Input</b><br/>Something</p>
					<p><b>Sample Output</b><br/>Something</p>
				</div>
				<div class="write-code">
					<h5>Submit your code</h5>
					<textarea style="width:90%" placeholder="Code Here"></textarea><br/>
					<input type="button" value="Save Draft"/><input type="submit"/>
				</div>
			</div>
		</div>
		<div id="sidebar">
			<div class="grid_6" style="background-color:#efe;">
				<h4>Other Details</h4>
			</div>
		</div>
	</div>
</body>
</html>